
<%= simple_form_for(@item_video , html: { class: 'form' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="container" style="background-color: lightblue">
    <% if @item_video.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(item_video.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
          <% item_video.errors.full_messages.each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <br>
    <div class="jumbotron" style="background-color:lightgoldenrodyellow">
      <div class="form-input">
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :explicit %>
        <%= f.input :author %>
        <%= f.input :educational %>
        <%= f.input :relevant %>
        <%= f.input :q %>
        <%= f.input :s %>
        <%= f.input :b %>
        <%= f.input :w %>
        <%= f.input :notes %>
        <br>
        <hr>
        <!-- <h5>Upload a picture</h5>
        <%# f.file_field :picture %>
        <hr>
        <h5>Upload a video</h5>
        <%# f.file_field :video %>
        <hr> -->
      </div>

    </div>

    <div class="form-actions">
      <%= f.button :submit,"Save" %>
    </div>
    <hr>
  </div>

<% end %>
<br>