<div>
  <% @item_videos.each do |item| %>
    <div class="item">
      <%= video_tag (item.video.url), size:"400x400", controls:'' if item.video? %>
      <div class="name"><%= item.name %></div>
      <div class="item_actions">
        <%= link_to "edit", edit_item_video_path(item) %> |
        <%= link_to 'remove', item, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
  <br>

  <div>
    <%= will_paginate @item_videos %>
  </div>
</div>


